body{
    background-color: white;
    color:black;
    text-align: center;
    font-size: 1.8rem;
}
img{
    width: 25%;
    height: 25%;
}
button{
    background: #3498db;
    color: black;
    font-size: 1.5rem;
    padding: 1.5rem;
    border: none;

}